<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Block includes folder" stopProcessing="true">
          <match url="^includes/" />
          <action type="AbortRequest" />
        </rule>
        <rule name="Block engine folder" stopProcessing="true">
          <match url="^engine/" />
          <action type="AbortRequest" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence="config.php" />
          <add sequence=".env" />
          <add sequence="voteapi.log" />
          <add sequence="vote_register.log" />
        </denyUrlSequences>
        <hiddenSegments>
          <add segment="includes" />
          <add segment="engine" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
